@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-color: $light;
  color: $body-color;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  text-align: center;
  border-bottom: 1px solid $black;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid $black;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  display: flex;
  justify-content: space-between;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.addComentario{
  border-top: 1px solid $black;
  padding-top: 15px;
  margin-top: 15px;
}

.card-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.card-body{
  justify-content: space-between;
  display: flex;
  align-items: center;
  .content{
    display: flex;
    flex-direction: column;
  }
}
ul {
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 30em;


  li {
    cursor: pointer;
    background-color: $light-dark;
    padding: 15px;
    margin: 5px 0 0 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .selected {
    background-color: $dark !important;
    color: white;
  }
}