@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 17em;


  li {
    cursor: pointer;
    background-color: $primary;
    padding: 15px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .selected {
    background-color: $secondary !important;
    color: white;
  }
}